{% extends 'index_1.html' %}

<div class="row">
    <div class="col-xs-12">

{% block content %}
<h3>Заправки:</h3>

{% load staticfiles %}

<form>{% csrf_token %}
    <table class="table table-hover"  width="100%">
        <tr><th>Дата</th> <th>Тип</th><th>Цена</th><th>Литров</th></tr>

    {% for gaz in object_list %}

        <tr>   <td> {{ gaz.created_date }} </td> <td> {{ gaz.fuel_type }} </td> <td> {{ gaz.price }} </td><td> {{ gaz.liters }} </td> </tr>

       {% endfor %}

    </table>


 </form>

{% endblock %}

    </div>
</div>