<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF8" />
    <title>test</title>
</head>
<body class="container">

    <table>
        <tr><th>Date</th><th>Liters</th><th>Price</th></tr>
        {% for gaz in values %}
        <tr>   <td> {{ gaz.created_date }} </td>
            <td> {{ gaz.fuel_type }} </td>
            <td> {{ gaz.station }} </td>
            <td> {{ gaz.price_before_disc |floatformat }} </td>
            <td> {{ gaz.liters |floatformat}} </td>
            <td> {{ gaz.price_liter |floatformat}} </td>
            <td> {{ gaz.disc |floatformat}} </td>
            <td> {{ gaz.price_after_disc |floatformat}} </td>
        </tr>

        {% endfor %}
    </table>

</body>
</html>